<p id="notice"><%= notice %></p>

<p>
  <b>Shopping List:</b>
  <%= link_to @list_item.shopping_list.name, @list_item.shopping_list %>
</p>

<p>
  <b>Amount:</b>
  <%= @list_item.amount %>
</p>

<p>
  <b>Unit:</b>
  <%= @list_item.unit %>
</p>

<p>
  <b>Name:</b>
  <%= @list_item.name %>
</p>


<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'Back', @list_item.shopping_list %>
